# Ignore almost everything
/*
!/.local/
/.local/*
!/.local/bin
!/.local/share
/.local/share/*
!/.local/share/terminfo

!/.config/
/.config/*
!/.config/fish

# unignore sublime-text settings
!/.config/sublime-text-3
/.config/sublime-text-3/*
!/.config/sublime-text-3/Packages
/.config/sublime-text-3/Packages/*
!/.config/sublime-text-3/Packages/Package\ Control
!/.config/sublime-text-3/Packages/User
/.config/sublime-text-3/Packages/User/*
!/.config/sublime-text-3/Packages/User/*.sublime-keymap
!/.config/sublime-text-3/Packages/User/*.sublime-settings
!/.config/sublime-text-3/Packages/User/*.sublime-snippet
!/.config/sublime-text-3/Packages/User/*.tmTheme

!/.config/htop

 execptions for more important dot-files
!.xprofile
!.Xdefaults
!.vim/backup/.gitkeep
!.vim/bundle/vundle
!.byoburc.tmux
!.gemrc
!.gitconfig
!.gitignore
!.gitmodules
!.irbrc
!.pryrc
!.psqlrc
!.screenrc
!.tmux.conf
!.tmux.keybindings
!.vimrc
!.gvimrc
!.git
!.config/redshift.conf

