# Ignore almost everything
/*
!/.local/
/.local/*
!/.local/bin
!/.local/share
/.local/share/*
!/.local/share/terminfo
!/.local/share/applications
/.local/share/applications/*
!/.local/share/applications/urxvtc_tmux.desktop

!/.config/
/.config/*
!/.config/fish
/.config/fish/fish_history*

# unignore sublime-text settings
!/.config/sublime-text-3
/.config/sublime-text-3/*
!/.config/sublime-text-3/Packages
/.config/sublime-text-3/Packages/*
!/.config/sublime-text-3/Packages/Package\ Control
!/.config/sublime-text-3/Packages/User
/.config/sublime-text-3/Packages/User/*
!/.config/sublime-text-3/Packages/User/*.sublime-keymap
!/.config/sublime-text-3/Packages/User/*.sublime-settings
!/.config/sublime-text-3/Packages/User/*.sublime-snippet
!/.config/sublime-text-3/Packages/User/*.tmTheme

!/.config/htop
!/.aria2
/.aria2/dht.dat

!/.ssh/
/.ssh/*
!/.ssh/config

!/.vim
/.vim/backup/*
!/.vim/backup/.gitkeep
/.vim/bundle/*
!/.vim/bundle/vundle
/.vim/view

!/.share

 execptions for more important dot-files
!.xprofile
!.Xdefaults
!.byoburc.tmux
!.gemrc
!.gitconfig
!.gitignore
!.gitmodules
!.irbrc
!.pryrc
!.psqlrc
!.screenrc
!.tmux.conf
!.tmux.keybindings
!.vimrc
!.gvimrc
!.git
!.config/redshift.conf

