[user]
	email = dev@eger-andreas.de
	name = Andreas Eger
[color]
	ui = auto
[merge]
  ff = false
  stat = true
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  commir = commit
[push]
	default = simple
[diff]
	; algorithm = patience
	algorithm = histogram
  mnemonicprefix = true
[rerere]
	enabled = true

[url "git@github.com:"]
  insteadOf = github:
[url "git://github.com/"]
  insteadOf = gitpub:

