# Ignore almost everything
/*
!/README.md

!/.local/
/.local/*
!/.local/bin
.local/bin/kompose
!/.local/share
/.local/share/*
!/.local/share/applications
/.local/share/applications/*
!/.local/share/applications/termite_tmux.desktop

!/.config/
/.config/*
!/.config/fish
/.config/fish/fish_history*
!/.config/termite
!/.config/htop
!/.config/systemd
!/.config/git
!/.config/kitty
!/.config/Code
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/settings.json

!/.rbenv

!/.aria2
/.aria2/dht.dat

!/.ssh/
/.ssh/*
!/.ssh/config

!/.vim
/.vim/tmp
/.vim/.netrwhist

!/.share

# execptions for more important dot-files
!.xprofile
!.gemrc
!.gitconfig
!.gitignore
!.gitignore.global
!.gitattributes.global
!.gitmodules
!.irbrc
!.pryrc
!.psqlrc
!.tmux.conf
!.tmux.keybindings
!.vimrc
!.git
!.config/redshift.conf

!.bundle
/.bundle/cache

#emacs
!/.emacs.d
!/.spacemacs
!/.spacemacs.d
.local/bin/oc
.local/bin/svcat
.local/bin/ruby-install
.config/fish/fish_variables
