[user]
	email = dev@eger-andreas.de
	name = Andreas Eger
[color]
	ui = auto
[merge]
	ff = false
[alias]
	lg = log --graph --date-order -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --all --date=short
