URxvt*loginShell: true
XTerm*metaSendsEscape: true
xterm*termName: xterm-256color


!-- Xft settings -- !
Xft.dpi:        92
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
!Xft.hintstyle:  hintslight
Xft.hintstyle:  hintfull

!! Solarized color scheme for the X Window System {{{
!!
!! http://ethanschoonover.com/solarized
!
!
!! Common
!
!#define S_yellow        #b58900
!#define S_orange        #cb4b16
!#define S_red           #dc322f
!#define S_magenta       #d33682
!#define S_violet        #6c71c4
!#define S_blue          #268bd2
!#define S_cyan          #2aa198
!#define S_green         #859900
!
!
!! Dark {{{
!#define S_base03        #002b36
!#define S_base02        #073642
!#define S_base01        #586e75
!#define S_base00        #657b83
!#define S_base0         #839496
!#define S_base1         #93a1a1
!#define S_base2         #eee8d5
!#define S_base3         #fdf6e3
!! }}}
!
!! Light {{{
!! #define S_base03        #fdf6e3
!! #define S_base02        #eee8d5
!! #define S_base01        #93a1a1
!! #define S_base00        #839496
!! #define S_base0         #657b83
!! #define S_base1         #586e75
!! #define S_base2         #073642
!! #define S_base3         #002b36
!! }}}
!
!
!! To only apply colors to your terminal, for example, prefix
!! the color assignment statement with its name. Example:
!!
!! URxvt*background:            S_base03
!
!*background:              S_base03
!*foreground:              S_base0
!*fading:                  40
!*fadeColor:               S_base03
!*cursorColor:             S_base1
!*pointerColorBackground:  S_base01
!*pointerColorForeground:  S_base1
!
!*color0:                  S_base02
!*color1:                  S_red
!*color2:                  S_green
!*color3:                  S_yellow
!*color4:                  S_blue
!*color5:                  S_magenta
!*color6:                  S_cyan
!*color7:                  S_base2
!*color8:                  S_base03
!*color9:                  S_orange
!*color10:                 S_base01
!*color11:                 S_base00
!*color12:                 S_base0
!*color13:                 S_violet
!*color14:                 S_base1
!*color15:                 S_base3
!! }}}

! Base16 Default {{{
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #181818
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #b8b8b8
#define base05 #d8d8d8
#define base06 #e8e8e8
#define base07 #f8f8f8
#define base08 #ab4642
#define base09 #dc9656
#define base0A #f7ca88
#define base0B #a1b56c
#define base0C #86c1b9
#define base0D #7cafc2
#define base0E #ba8baf
#define base0F #a16946

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
! }}}

! -- Fonts -- ! {{{
URxvt.font: xft:Consolas:regular:size=11
URxvt.boldFont: xft:Consolas:bold:size=11
! URxvt.font: xft:Source Code Pro:size=11:style=Regular
! URxvt.boldFont: xft:Source Code Pro:size=11:style=Bold
! URxvt.letterSpace: -2
! }}}

URxvt.saveLines: 1000
URxvt.scrollBar: false
URxvt.secondaryScroll: true
URxvt.internalBorder: 0
URxvt.matcher.button: 1
!URxvt*inheritPixmap: true
!URxvt*shading: 70

URxvt.perl-ext:
URxvt.perl-ext-common: default,matcher,clipboard,-option-popup,-selection-popup
!URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
!URxvt.url-select.launcher:  chromium
!URxvt.url-select.underline: true
!URxvt.keysym.M-u:           perl:url-select:select_next

!URxvt.keysym.M-Escape:      perl:keyboard-select:activate
!URxvt.keysym.M-s:           perl:keyboard-select:search

URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! Make it old-school.
URxvt.cursorBlink: true

! Sorry Vim, 8th bit meta is just broken.
URxvt.meta8: false

! vim:foldmethod=marker:foldlevel=0
