"*":
  core:
    disabledPackages: [
      "vim-mode"
      "spell-check"
    ]
    packagesWithKeymapsDisabled: [
      "vim-mode"
    ]
    themes: [
      "atom-light-ui"
      "solarized-light-syntax"
    ]
  editor:
    fontFamily: "Consolas"
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
  "exception-reporting":
    userId: "a67477e5-5031-fc0a-1e5b-32719ae80d90"
  "spell-check": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
