[Unit]
Description=Store backlight state
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/setpci -s 00:02.0 F4.B=`cat /var/local/backlight.state`

[Install]
WantedBy=suspend.target

