# ignore everything here by default
/*
!/.gitignore

!/bin

!/share
/share/*
# FYI bare repo is in .local/share/dot-files, make sure it's ignored to prevent recursion weirdness
/share/dot-files.git
!/share/dot-files
