[Desktop Entry]
Comment=
Terminal=false
Name=tmux(alacritty)
Exec=/home/ane/.cargo/bin/alacritty -e tmux attach
Type=Application
Icon=utilities-terminal

