[Desktop Entry]
Comment=
Terminal=false
Name=Workbench
Exec=urxvt -e /home/ane/.rbenv/shims/tmuxinator start workbench
Type=Application
Icon=utilities-terminal
